*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

.grid{
    outline: 3px solid black;
    width: 90%;
    /* max-width: 700px; */
    height: 600px;
    margin: 20px auto;
    display: grid;

    /* Crear columnas y  filas con nombre o repetitivas */
    /* grid-template-columns: [cabecera-start main-start]1fr 1fr 1fr 1fr [cabecera-end main-end];
    grid-template-rows: [cabecera-start] 1fr [cabecera-end main-start] 1fr [main-end]1fr; */
    /* grid-template-columns: repeat(4 ,[column-start] 1fr [column-end]);
    grid-template-rows: repeat(3 ,[row-start] 1fr [row-end]); */
      /* grid-template-areas: 
    "header header header header"
    "main   main   main   sidebar"
    "footer footer footer footer"; */

    /*Dar tamaños definidos o maximos y minimos */
    /* grid-template-columns: min-content max-content;
    grid-template-rows: min-content max-content; */
    /* grid-template-columns: fit-content(200px); */
    /* grid-template-columns: minmax(10px, 300px); */
    /* grid-template-columns: repeat(auto-fill,minmax(200px, 1fr)); */
    /* grid-template-columns: repeat(auto-fit, minmax(max-content, 300px)); */

    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,1fr);

       /* Posicionar en la grid */
    /* justify-items: start|end|center|stretch; */
    /* aling-items:   start|end|center|stretch */
    /* place-items: aling-item/justify-items; */
    /* place-items: center; */
    /* justify-content: tienes las mismas propiedades de felx items; */
    /* align-content: star|end|space-between|center|stretch|space-evenly|space-around ;
        place-content: aling-content justify-content;
    */
    /* short de grid-template-columns o rows
    grid: rows/ columns; */

 }
.grid__item{
    padding: 20px 0;
    color: white;
    font-size: 2rem;
    text-align: center;
    order:0;
}

.grid :nth-child(1){
    background: slateblue;
    grid-column: 1/2;
    grid-row: 1/2;
    /* order: 1; */
    /* grid-area: main; */
    /* grid-column: linea2/linea4;
    grid-row: linea-media/linea-final; */
    /* grid-column: header-start / header-end;
    grid-row: header-start / header-end; */
    /* Alinear un solo item
     align-self: center;
    justify-self: center; 
    Forma corta que usa ambos
    place-self: start end;*/
    place-self: center;
}
.grid :nth-child(2){
    background: crimson;
    /* grid-column: 1/2;
    grid-row: 1/2; */
    /* grid-area: cabecera; */
    /* grid-column: column-start 1/ column-end 3;
    grid-row: row-start 2 / row-end 3 ; */
    /* grid-column: main-start / main-end;
    grid-row: main-start / main-end; */

}
.grid :nth-child(3){
    background: orange;
    /* grid-column: sidebar-start / sidebar-end;
    grid-row: sidebar-start / sidebar-end; */
}
.grid :nth-child(4){
    background: blueviolet;
    /* grid-column: footer-start / footer-end;
    grid-row: footer-start / footer-end; */
}