*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    background: #f2f2f2;
}

.opinion{
    padding: 2em;
    width: 70%;
    margin: 40px auto;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, .5);

}

.title{
    font-size: 2rem;
}

.text{
    font-size: 20px;
}

/* viewport width vw 
viewport height wh  
 sirve para que se acomode al tamaño de la pantalla 
*/


.container{
   /* max-width: 400px;
   max-height: 400px;
   min-height: 200px;
   min-height: 200px; */
   /* width: 300px;
   height: 300px; */
   background: steelblue;
   width: 50vw;
   height: 100px;
   /* margin: 50px auto; */
}

.children{
    width: 90%;
    height: 50px;
    background: blueviolet;
}