*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    display: flex;
    justify-content: space-evenly;
} */

.container{
    width: 70%;
    height: 300px;
    margin: 20px auto;
    background-color: rgb(100, 100, 250);
    background-image: url(img/ifrit-removebg-preview.png);
    /* background-image: url(img/ifrit-removebg-preview.png), url(img/sun-regular-48.png); */
    background-repeat: no-repeat;
    background-color: steelblue;
    background-position: 30px 100px;
    background-position: top 10px right 50px ;
    background-position: center;
    background-size: cover;
}

.atachment{
    width: 100%;
    height: 100vh;
    padding: 0.1px;
    /* margin-top: 40px; */
    background-position: center;
    background-size: cover ;
    background-repeat: no-repeat;
    background-image: url('img/luca-bravo-XJXWbfSo2f0-unsplash.jpg');
    
}

.fixed{
    background-attachment: fixed;
}

.title{
    font-size: 70px;
    font-family: 'Time New Roman  ';
    text-align: center;
    color: white;
    margin-top: 100px;
}

.space{
    height: 3000px;
}