@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Prata&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"Prata", serif;
    background: #ede8e2;
    display: flex;
    height: 100vh;
}

.grid{
    background: white;
    height: 90vh;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0 0 30px -10px rgba(135, 135, 135, .5);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    overflow: hidden;
}

.grid::before{
    content: "";
    grid-column: 4/-1;
    grid-row: 1/-1;
    background-image: url(garden.jpg);
    background-size: cover;
    background-position: right top;
    clip-path: polygon(0 0, 100% 0%, 100% 0, 0 0);
    animation: show 2s 3.5s cubic-bezier(1, .08,.76,.94) forwards;
}

.grid__texts{
    grid-row: 2/-2;
    grid-column: 2/7;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
    transform: translate(50%);
    animation: show 2s  forwards, move 1s 2s forwards;
} 

.grid__title{
    font-size: 6rem;
}

.grid__title--transform{
    font-family: "Playfair Display", serif;
    font-size: 4rem;
    transform: translate(20%);
    animation: move 1s 2s forwards;
}

@keyframes show {

    to{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    }
}

@keyframes move{
    to{
        transform: translate(0);
    }
}