/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.enlaces{
    display: inline-block;
    text-decoration: none;
    background-color: crimson;
    color: white;
    padding: 10px 20px;
} */

.header{
    height: 400px;
    background: crimson;
    color: white;
}