*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial';
    height: 300vh;
}

.container{
    width: 450px;
    height: 530px;
    border:  5px solid crimson;
    margin: 10px auto;
    position: relative;
}

.box{
    background-color: slateblue;
    width: 100px;
    height: 100px;
    margin-top:  20px;
    margin-left: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    line-height: 100px;   
}

.static{
    position: static;
}

.relative{
    background: crimson;
    position: relative;
    /* z-index: auto; */
    /* bottom: 40px; */
    /* left: 10px; */
    /* top: 100px;
    left: 200px;
    right: ;
    bottom: ; */
}

.absolute{
    background: purple;
    position: absolute;
    top: 0;
    right: 0;
    /* top: 30%;
    left: 40px; */
    margin: 0;
    /* z-index: 1; */
}

.fixed{
    background: purple;
    position: fixed;
    width: 100%;
    height: auto;
    font-size: 1.5rem;
    padding: 1em;
    bottom: 0;
    right: 0;
    margin: 0;
}

.fixed a{
    color: white;
    text-decoration: none;
}

.fixed a:hover{
    text-decoration: underline;
}